
 meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>G1 - Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que estava há 2 anos no Haiti  - notícias em Ciência e Saúde</title> 

	<link rel="shortcut icon" href="http://bemestar-saude.acessospremium.com/g1.globo.com/media/portal/img/logos/favicon.png">
	<link href="http://bemestar.acessospremium.com/wp-content/themes/twentyseventeen/css/style.css" rel="stylesheet">

	<meta property="og:locale" content="pt_BR">
	<meta property="og:site_name" content="Bolsa da Mulher">
	<meta property="og:title" content="G1 - Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que estava há 2 anos no Haiti  - notícias em Ciência e Saúde">
	<meta property="og:url" content="#">
	<meta property="og:type" content="article">
	<meta property="og:description" content="Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que Estava Há 2 Ano no Haiti Marido estava desconfiado das atitudes da mulher enquanto estava fora, e teve ...">
	<meta property="og:image" content="imgs/reencontro.jpg">
	<!-- Google+ / Schema.org -->
	<meta itemprop="name" content="Novidade Entre Os Famosos">
	<meta itemprop="description" content="Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que Estava Há 2 Ano no Haiti&lt;/h1&gt;&lt;h2&gt;Marido estava desconfiado das atitudes da mulher enquanto estava fora, e teve ...">
	<meta itemprop="image" content="imgs/reencontro.jpg">
	<!-- Twitter Cards -->
	<meta name="twitter:title" content="G1 - Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que estava há 2 anos no Haiti  - notícias em Ciência e Saúde">
	<meta name="twitter:url" content="./imgs//">
	<meta name="twitter:description" content="Exclusivo: Esposa Emagrece 32 kilos e Surpreende Marido que Estava Há 2 Ano no Haiti&lt;/h1&gt;&lt;h2&gt;Marido estava desconfiado das atitudes da mulher enquanto estava fora, e teve ...">
	<meta name="twitter:image" content="imgs/reencontro.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<style type="text/css">#bio_ep_bg {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.3; z-index: 10001;}#bio_ep {display: none; position: fixed; width: 800px; height: 585px; font-family: 'Titillium Web', sans-serif; font-size: 16px; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); background-color: #fff; box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.5); z-index: 10002;}#bio_ep_close {position: absolute; left: 100%; margin: -8px 0 0 -12px; width: 20px; height: 20px; color: #fff; font-size: 12px; font-weight: bold; text-align: center; border-radius: 50%; background-color: #5c5c5c; cursor: pointer;}</style>

</head>
<body>

 <div class="widget-comentarios">
						<div id="boxComentarios" class="glbComentarios">
							<div class="glbComentarios-header">
								<div class="glbComentarios-contador">28</div>
								<div class="glbComentarios-texto-contador">comentários</div>
							</div>
							<p class="glbComentarios-disclaimer">
								Os comentários são de responsabilidade exclusiva de seus autores e não representam a opinião deste site. Se achar algo que viole os termos de uso, denuncie. Leia as perguntas mais frequentes para saber o que é impróprio ou ilegal.
							</p>
							<div class="glbComentarios-formulario glbComentarios-sem-captcha">
								<p class="glbComentariosFechados">Este conteúdo não recebe mais comentários.</p>
							</div>
							<div class="glbComentarios-aba">
								<p class="recentes glbComentarios-barra-cor-produto">recentes</p>
								<p class="populares">populares</p>
							</div>
							<div class="glbComentarios-lista glbComentarios-lista-recentes">
								<div class="glbComentarios-aba glbComentarios-sem-ratings interno">
									<p class="recentes glbComentarios-barra-cor-produto" style="">recentes</p>
									<p class="populares">populares</p>
								</div>
								<ul class="glbComentarios-lista-todos">

									<li id="comentario-69431005">
										<div class="glbComentarios-conteudo">
											<div class="glbComentarios-conteudo-interno">
												<div class="glbComentarios-usuario-anonimo-avatar">
													<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
												<div itemprop="creator" class="glbComentarios-dados-usuario">
													<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Manuela Ferreira</strong>
													<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
														<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
													<div class="glbComentarios-data">
														<abbr itemprop="commentTime" title="2016-06-14T12:55:59" class="data cadastro no-reduced">há 1 dia</abbr>
														<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
													</div>
													<p class="glbComentarios-texto-comentario" itemprop="commentText">
														Boto fé nisso aí. Provei uns meses atrás, quando eu tava morando nos EUA... Não sabia que já tinha pra vender no Brasil. Mudou minha vida, perdi 23 kg.
													</p>
													<div class="glbComentarios-btns-thumb-share tem-interatividade">
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up voted" data-opcao-id="111495296">26</button>
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down smoky" data-opcao-id="111495297">2</button>
														<div class="glbComentarios-barra-share glbComentarios-share-69431005 share-bar-container share-theme-minimal">
															<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/shares.jpg" style="margin-top: 8px;"></div>
													</div>
												</div>

												<div class="glbComentarios-lista-resposta">
													<ul class="glbComentarios-lista-resposta-todos">
														<li>
															<div class="glbComentarios-conteudo">
																<div class="glbComentarios-conteudo-interno remove-line">
																	<div class="glbComentarios-usuario-anonimo-avatar">
																		<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
																	<div itemprop="creator" itemscope="" class="glbComentarios-dados-usuario">
																		<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Rosiméri</strong>
																		<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
																			<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
																		<div class="glbComentarios-data">
																			<abbr itemprop="commentTime" title="2016-06-15T12:22:22" class="data cadastro no-reduced">há 2 dias</abbr>
																			<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
																		</div>
																		<p class="glbComentarios-texto-comentario" itemprop="commentText">
																			nossa, se soubesse que funcionava tão bem já tinha comprado antes... obrigado pelo depoimento manuela.
																		</p>
																		<div class="glbComentarios-btns-thumb-share tem-interatividade">
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111703008">6</button>
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111703009">1</button>
																		</div>
																	</div>

																	<div class="glbComentarios-lista-resposta" data-total-replies="14">
																		<ul class="glbComentarios-lista-resposta-todos"></ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>

												<div class="glbComentarios-lista-resposta">
													<ul class="glbComentarios-lista-resposta-todos">
														<li>
															<div class="glbComentarios-conteudo">
																<div class="glbComentarios-conteudo-interno remove-line">
																	<div class="glbComentarios-usuario-anonimo-avatar">
																		<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
																	<div itemprop="creator" itemscope="" class="glbComentarios-dados-usuario">
																		<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Juliana Motta</strong>
																		<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
																			<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
																		<div class="glbComentarios-data">
																			<abbr itemprop="commentTime" title="2016-06-15T12:22:22" class="data cadastro no-reduced">há 2 dias</abbr>
																			<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
																		</div>
																		<p class="glbComentarios-texto-comentario" itemprop="commentText">
																			valeu pela dica Manuela, estava meio desconfiada mas lendo os comentários aqui, pelo jeito funciona mesmo o produto.
																		</p>
																		<div class="glbComentarios-btns-thumb-share tem-interatividade">
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111703008">2</button>
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111703009">6</button>
																		</div>
																	</div>

																	<div class="glbComentarios-lista-resposta" data-total-replies="14">
																		<ul class="glbComentarios-lista-resposta-todos"></ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>

											</div>
										</div>
									</li>
									<li id="comentario-69431005">
										<div class="glbComentarios-conteudo">
											<div class="glbComentarios-conteudo-interno">
												<div class="glbComentarios-usuario-anonimo-avatar">
													<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
												<div itemprop="creator" class="glbComentarios-dados-usuario">
													<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Amanda Botafogo</strong>
													<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
														<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
													<div class="glbComentarios-data">
														<abbr itemprop="commentTime" title="2016-06-14T12:55:59" class="data cadastro no-reduced">há 2 dias</abbr>
														<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
													</div>
													<p class="glbComentarios-texto-comentario" itemprop="commentText">
														Eu vi esse produto num site esses dias, mas não sabia onde comprar. Minha cunhada já tá no segundo mês e posso dizer que isso funciona e os resultados são mesmo surpreendentes.. Muito obrigado por ter feito esse post!
													</p>
													<div class="glbComentarios-btns-thumb-share tem-interatividade">
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up voted" data-opcao-id="111495296">26</button>
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down smoky" data-opcao-id="111495297">5</button>
														<div class="glbComentarios-barra-share glbComentarios-share-69431005 share-bar-container share-theme-minimal">
															<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/shares.jpg" style="margin-top: 8px;"></div>
													</div>
												</div>

												<div class="glbComentarios-lista-resposta">
													<ul class="glbComentarios-lista-resposta-todos">
														<li>
															<div class="glbComentarios-conteudo">
																<div class="glbComentarios-conteudo-interno remove-line">
																	<div class="glbComentarios-usuario-anonimo-avatar">
																		<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
																	<div itemprop="creator" itemscope="" class="glbComentarios-dados-usuario">
																		<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Wellington Silva</strong>
																		<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
																			<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
																		<div class="glbComentarios-data">
																			<abbr itemprop="commentTime" title="2016-06-15T12:22:22" class="data cadastro no-reduced">há 2 dias</abbr>
																			<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
																		</div>
																		<p class="glbComentarios-texto-comentario" itemprop="commentText">
																			Comprei semana passada sem esse desconto e paguei quase 300 reais por 2 frascos... ah se eu tivesse visto esse post antes...
																		</p>
																		<div class="glbComentarios-btns-thumb-share tem-interatividade">
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111703008">6</button>
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111703009">2</button>
																		</div>
																	</div>

																	<div class="glbComentarios-lista-resposta" data-total-replies="14">
																		<ul class="glbComentarios-lista-resposta-todos"></ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>

												<div class="glbComentarios-lista-resposta">
													<ul class="glbComentarios-lista-resposta-todos">
														<li>
															<div class="glbComentarios-conteudo">
																<div class="glbComentarios-conteudo-interno remove-line">
																	<div class="glbComentarios-usuario-anonimo-avatar">
																		<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
																	<div itemprop="creator" itemscope="" class="glbComentarios-dados-usuario">
																		<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Bernardo Botafogo">Mariana Soares</strong>
																		<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-65167216">
																			<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
																		<div class="glbComentarios-data">
																			<abbr itemprop="commentTime" title="2016-06-15T12:22:22" class="data cadastro no-reduced">há 2 dias</abbr>
																			<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
																		</div>
																		<p class="glbComentarios-texto-comentario" itemprop="commentText">Acabei de comprar e paguei 300 mas por 6 frascos kkk</p>
																		<div class="glbComentarios-btns-thumb-share tem-interatividade">
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111703008">0</button>
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111703009">4</button>
																		</div>
																	</div>

																	<div class="glbComentarios-lista-resposta" data-total-replies="14">
																		<ul class="glbComentarios-lista-resposta-todos"></ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>

											</div>
										</div>

										<div class="glbComentarios-formulario-resposta glbComentarios-sem-captcha"></div>
									</li>
									<li id="comentario-69407127" data-comentario-qtd_replies="27" data-comentario-id="comentario-69407127" data-interatividade-id="55676357" data-usuario-id="usuario-63519925" data-usuario-sexo="" data-usuario-avatarimgurl="" data-usuario-oficial="0">
										<div class="glbComentarios-conteudo">
											<div class="glbComentarios-conteudo-interno">
												<div class="glbComentarios-usuario-anonimo-avatar">
													<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
												<div itemprop="creator" class="glbComentarios-dados-usuario">
													<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Leonardo">Leandra Gonçalves</strong>
													<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-63519925">
														<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
													<div class="glbComentarios-data">
														<abbr itemprop="commentTime" title="2016-06-14T07:43:12" class="data cadastro no-reduced">há 2 dias</abbr>
														<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
													</div>
													<p class="glbComentarios-texto-comentario" itemprop="commentText">
														Depois de ver os resultados da Suzana eu também encomendei o produto (ainda consegui pegar o desconto rsrs). Espero que também funcione para mim, estou necessitada!
													</p>
													<div class="glbComentarios-btns-thumb-share tem-interatividade">
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111446760">5</button>
														<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111446761">1</button>

														<div class="glbComentarios-barra-share glbComentarios-share-69431005 share-bar-container share-theme-minimal">
															<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/shares.jpg" style="
					margin-top: 8px;
					"></div>

													</div>
												</div>
												<div class="glbComentarios-lista-resposta" data-total-replies="27">
													<ul class="glbComentarios-lista-resposta-todos">
														<li id="comentario-69451626" data-comentario-qtd_replies="27" data-comentario-id="comentario-69451626" data-interatividade-id="55732039" data-usuario-id="usuario-55117273" data-usuario-sexo="" data-usuario-avatarimgurl="" data-usuario-oficial="false">
															<div class="glbComentarios-conteudo">
																<div class="glbComentarios-conteudo-interno">
																	<div class="glbComentarios-usuario-anonimo-avatar">
																		<img class="glbComentarios-usuario-avatar" src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/user.jpg"></div>
																	<div itemprop="creator" class="glbComentarios-dados-usuario">
																		<strong itemprop="name" class="glbComentarios-dados-usuario-nome" title="Isabelli">Isabeli da Silva Ribeiro</strong>
																		<div class="glbComentarios-btn-denunciar-wrapper" data-denunciar-usuario-id="denunciar-usuario-55117273">
																			<img src="http://bemestar.acessospremium.com/wp-content/uploads/sites/2/2017/07/dana.jpg"></div>
																		<div class="glbComentarios-data">
																			<abbr itemprop="commentTime" title="2016-06-14T17:15:41" class="data cadastro no-reduced">há 3 dias</abbr>
																			<abbr itemprop="commentTime" title="" class="data cadastro reduced">&nbsp;</abbr>
																		</div>
																		<p class="glbComentarios-texto-comentario" itemprop="commentText">
																			Uma amiga minha tomou, e olha parecia que ela tinha feito redução de estômago, de tão rápido que emagreceu...
																		</p>
																		<div class="glbComentarios-btns-thumb-share tem-interatividade">
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-up smoky" data-opcao-id="111558124">3</button>
																			<button type="button" class="glbComentarios-btn glbComentarios-thumbs glbComentarios-thumbs-down voted" data-opcao-id="111558125">1</button>
																		</div>
																	</div>

																	<div class="glbComentarios-lista-resposta" data-total-replies="27">
																		<ul class="glbComentarios-lista-resposta-todos"></ul>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="glbComentarios-formulario-resposta glbComentarios-sem-captcha"></div>
									</li>

								</ul>

								<button type="button" class="glbComentarios-botao-mais">Carregar mais comentários</button>
							</div>

						</div>
					</div>
				</div>
				
			
				
</body>